.main {
  display: flex;
  flex-direction: column;
}

.wrapper {
  height: 300px;
  width: 180px;
  border: 2px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  margin: 20px;
  font-size: 10px;
  position: relative;
}

.changeButtonWrapper {
  border: 50px solid transparent;
  border-right: 50px solid #505050;
  border-bottom: 50px solid #505050;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 10px;
}

.renameButton {
  transform: rotate(-45deg);
  height: 25px;
  width: 80px;
  background: transparent;
  position: absolute;
  bottom: -25px;
  right: -48px;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.deleteButtonWrapper {
  border: 30px solid transparent;
  border-right: 30px solid #552323;
  border-bottom: 30px solid #552323;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 10px;
}

.deleteButton {
  height: 25px;
  width: 25px;
  background: transparent;
  position: absolute;
  bottom: -27px;
  right: -27px;
  border: none;
  outline: none;
  cursor: pointer;
}

.loader {
  height: 10px;
}