.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
}

.message {
  margin: 20px;
}

.loader {
  margin: 20px;
  height: 10px;
}