.wrapper{
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(3, 0, 0, 0.8);
  display: flex;
  align-items: center;
}

.window{
  height: 200px;
  width: 500px;
  background: white;
  margin: 0 auto;
  color: black;
}

.window > input{
  margin: 20px 0 0 0;
}
