@import './../scss/variables';

.navLink{
  text-decoration: none;
}
.navBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: $navBar-width;
  z-index: 1;
  background-color: black;
}

.navBar__upperBlock {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 300px;
  justify-content: space-between;
}

.link{
  text-decoration: none;
  font-size: 40px;
  color: $icon-color;
}
.link:hover{
  color: white;
}

.navBar__upperBlock i {
  color: $icon-color;
  font-size: 32px;
  text-decoration: none;
}

.navBar__upperBlock i:hover {
  color: $icon-color-hover;
  cursor: pointer;
}

.navBarExtension {
  height: 100vh;
  border-right: 1px solid $icon-color;
  width: 207px;
  position: absolute;
  font-size: 14px;
  color: white;
  top: 0;
  left: 6px;
  background-color: black;
  z-index: 0;
  transition: 0.8s;
}

.navBarExtensionHide {
  transform: translateX(-64%);
}

.navBarExtension__upperBlock {
  padding: 30px 0 27px 80px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: flex-start;
}
